<div style="background: linear-gradient(to right, #ed213a, #93291e);margin-bottom: 30px;">
  <div class="container-fluid">
    <div class="header-body">
      <div style="width: 500px;position: fixed;bottom: 0px;left: 40%;z-index: 2;display: none;" 
      id="Addressadd" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
          <span class="alert-icon"><i class="fas fa-map-marker-alt"></i></span>
          <span class="alert-text"><strong >Please fill address field first to place your order.</strong></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div style="width: 500px;height:200px;position: fixed;bottom: 300px;left: 42%;z-index: 2;display: none;background-color: white;border: 1px solid gray;" 
      id="orderplace" class="animatd fadeIn alert alert-dismissible fade show" role="alert">
      <img src="/assets/img/check.jpg" alt="check" height="80" width="80" style="margin-left: 37%;"><br>
      <h2 style="color: rgb(69, 204, 69);font-style: italic;margin-left: 10%;">Your Order Will Placed Successfully.</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-1">
          <a class="mb-0" [routerLink]="['/cart']" class="previous"
            style="padding-left:10px;color:white;font-size: xx-large;">&#8249;</a>
        </div>
        <div class="col-11">
          <h2 style="color: white;text-align: center;margin-right: 10%;">Checkout</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="total_item === 0">
<div class="col-lg-12 col-md-12 col-sm-12">
  <div id="container">
    <img src="./assets/img/supermarket.svg" alt="supermarket">
    <div style="font-size: large;">Your Checkout is Empty.</div>
    <div>Explore our ever growing selection product</div>
    <a [routerLink]="['/home']"><button type="button" class="btn btn-danger">Start Shopping</button></a>
  </div>
</div>
</div>

<div class="header bg-primary pb-6" *ngIf="total_item !== 0" style="background: linear-gradient(to right, #ed213a, #93291e);">
<div class="container-fluid">
  <div class="header-body">
    <div class="row align-items-center py-4">
      <div class="col-lg-12 col-12">
        <div class="h2 text-white d-inline-block mb-0">Order Summary</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt--6" *ngIf="total_item !== 0">
<div class="row mt--5">
  <div class="col-md-10 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center border-bottom-0">
        <h4 class="card-title">Cart Details</h4>
        <div style="font-size: small;color: black;margin: 0% 3%;">
          <span style="float: left">Date : {{today}}</span>
          <span style="float: right">Order Id : {{orderId}}</span>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <tbody>
              <tr>
                <td>Cart value <sub>(Incl. of Taxes)</sub> :</td>
                <td class="text-center">₹{{total}}</td>
              </tr>
              <tr>
                <td>Delivary Charges :</td>
                <td class="text-center">₹40</td>
              </tr>
              <tr>
                <td><b>Amount Payable <sub>(Incl. of Taxes)</sub> </b> :</td>
                <td class="text-center"><b>₹{{totalAmt}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card card-upgrade"  style="margin-top: 3%;">
      <div class="card-header text-center border-bottom-0">
        <h4 class="card-title">You Selected : Home Delivary</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <tbody>
              <tr>
                <td>Name :</td>
                <td>{{fname}} {{lname}}</td>
              </tr>
              <tr>
                <td>Email :</td>
                <td>{{email}}</td>
              </tr>
              <tr>
                <td>Mobile Number :</td>
                <td>{{phone}}</td>
              </tr>
              <tr>
                <td>Address :</td>
                <td>{{address.Line_1}} {{address.Line_2}} {{address.Pincode}} {{address.City}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 ml-auto mr-auto" style="margin: 2%;">
    <h6 class="h2 text-black d-inline-block mb-0" style="text-align:center;">Item(s) in cart: <b>{{total_item}}</b>, Quantity: <b>{{total_qty}}</b></h6>
  </div>
  <div class="col-md-10 ml-auto mr-auto">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of cart">
          <div class="card card-profile">
            <div class="row justify-content-center">
              <div>
                <div>
                  <a href="#">
                    <img src="{{item.image}}" style="margin: 10% 0%;height: 7rem;width: 10rem;">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="text-center" style="height: 3.9rem;">
                <h5 class="h3">
                  {{item.name}}<span class="font-weight-light">, {{item.measure}}</span>
                </h5>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Quantity : {{item.product_quantity}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">₹ {{item[0].total}}</span>
                      <span class="description">You Pay</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  
  <div class="col-md-10 ml-auto mr-auto" style="margin: 3%;text-align: center;">
    <div style="color: white; background-color: rgb(69, 204, 69);" (click)="submit_order()" class="btn btn-round btn-primary">PROCEED TO ORDER</div>
  </div>
</div>
</div>
<!-- 
<h2 style="color:rgb(69, 204, 69);margin-top: 45px;margin-left: 60px;">ORDER SUMMARY :</h2>
<div class="container mt-2" style="background-color: white;border: rgb(194, 191, 191) 1px solid" >
<div class="row m-2">
  <div class="col-8">
    <h3>Cart value: <span style="font-style: italic; font-size: 10px;color: gray;">(Incl. of Taxes)</span></h3>
  </div>
  <div class="col-4">
    <h3><b><i class="fas fa-rupee-sign"></i>{{total}}</b></h3>
  </div>
</div>
<div class="row m-2">
  <div class="col-8">
    <h3>Delivary Charges:</h3>
  </div>
  <div class="col-4">
    <h3><b><i class="fas fa-rupee-sign"></i>40</b></h3>
  </div>
</div><hr style="margin:unset;">
<div class="row m-2">
  <div class="col-8">
    <h3 style="color: rgb(69, 204, 69);"><b>Amount Payable:</b><span style="font-style: italic; font-size: 10px;color: gray;">(Incl. of Taxes)</span></h3>
  </div>
  <div class="col-4">
    <h3><b><i class="fas fa-rupee-sign"></i>{{totalAmt}}</b></h3>
  </div>
</div>
</div>
<div class="container mt-2" style="background-color: white;border: rgb(194, 191, 191) 1px solid">
<h3 style="color: gray;margin-top: 10px;">You Selected: <span class="span1"><b>Home Delivary</b></span></h3><hr style="margin:unset;">
<div class="row m-2">
  <div class="col-8">
    <h3>Name: </h3>
  </div>
  <div class="col-4">
    <h3 style="color: gray;">{{fname}} {{lname}}</h3>
  </div>
</div>
<div class="row m-2">
  <div class="col-8">
    <h3>Mobile Number: </h3>
  </div>
  <div class="col-4">
    <h3 style="color: gray;">{{phone}}</h3>
  </div>
</div>
<div class="row m-2">
  <div class="col-8">
    <h3>Email: </h3>
  </div>
  <div class="col-4">
    <h3 style="color: gray;">{{email}}</h3>
  </div>
</div>
<div class="row m-2">
  <div class="col-8">
    <h3>Address: </h3> 
  </div>
  <div class="col-4">
    <h3 style="color: gray;">{{address.Line_1}}</h3>
    <h3 style="color: gray;">{{address.Line_2}}</h3>
    <h3 style="color: gray;">{{address.Pincode}}</h3>
    <h3 style="color: gray;">{{address.City}}</h3>
  </div>
  <button type="button" class="btn btn-success" style="float: right;" (click)="deivary_address()">OK</button> 
</div>

</div>
<div class="container mt-2" style="background-color: white;border: rgb(194, 191, 191) 1px solid" >
<h3 style="color: gray;margin-top: 10px;">Item(s) in cart: <span  class="span1"><b>{{total_item}}</b></span>,      Quantity: <span  class="span1"><b>{{total_qty}}</b></span></h3>
<hr style="margin:unset;">
<div class="row" style="margin-top: 10px;" *ngFor="let item of cart">
  <div class="col-lg-4">
    <img src="{{item.image}}" alt="product" height="190" width="200">
  </div>
  <div class="col-4">
    <h1><b>{{item.name}}: {{item.measure}}</b></h1>
    <br>
    <h3><b>Quantity {{item.product_quantity}}</b></h3>
  </div>
  <div class="col-4">
    <h3 style="color: rgb(69, 204, 69);"><b>You Pay: <i class="fas fa-rupee-sign"></i>{{item[0].total}}</b></h3>
  </div><hr style="margin-bottom: 15px;margin-top: 15px;">
</div>
</div>
<br>
<button type="button" class="btn btn-lg btn-block" style="color: white; background-color: rgb(69, 204, 69);  
           border-radius: unset;" (click)="submit_order()">PROCEED TO ORDER</button> -->
