<div style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center">
                <div class="col-8">
                    <a class="mb-0" [routerLink]="['/foodgrain']" class="previous"
                        style="padding-left:10px;color:white;font-size: xx-large;">Welcome admin</a>
                </div>
                <div class="col-4">
                    <h2 style="color: white;text-align: center;margin-right: 10%;" (click)="logout()">Logout</h2>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container mt-5">
      <div class="card shadow">
          <div class="card-header border-0">
              <div class="row align-items-center">
                  <div class="col">
                      <h3 class="mb-0">Order List</h3>
                  </div>
              </div>
          </div>
          <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush-center">
                  <thead class="thead thead-light">
                      <tr>
                          <th scope="col">Sr.</th>
                          <th scope="col">Customer Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Status</th>
                          <th scope="col">Order Id</th>
                          <th scope="col">Total Price</th>
                          <th scope="col">Action</th>
                          <th scope="col">Order Summary</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="table-active" *ngFor="let item of item; let i=index">
                          <td>{{i+1}}</td>
                          <td>{{item[0].name}}</td>
                          <td>{{item[0].email}}</td>
                          <td>
                            <span *ngIf="item.order_status">Delivered</span>   
                            <span *ngIf="!item.order_status">Undelivered</span> </td>
                          <td>{{item.order_id}}</td>
                          <td>₹ {{item.totalAmt}}</td>
                          <td>
                              <img src="./assets/img/london-eye.svg" height="22px;" width="22px;" (click)="status(item.unique_id)">
                          </td>
                          <td><button data-toggle="modal" data-target="#viewsummaryModal" (click)="getOrderProduct(item.unique_id)">Summary</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
     <!-- View Product Category Modal -->
    <div class="modal fade" id="viewsummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 25%;">
        <div class="modal-content">
          <div class="card shadow" style="width: 900px;">
              <div class="card-header border-0">
                  <div class="row align-items-center">
                      <div class="col">
                          <h3 class="mb-0">Order Product List</h3>
                      </div>
                  </div>
              </div>
              <div class="table-responsive">
                  <!-- Projects table -->
                  <table class="table align-items-center table-flush-center">
                      <thead class="thead thead-light">
                          <tr>
                              <th scope="col">Sr.</th>
                              <th scope="col">Name</th>
                              <th scope="col">Brand</th>
                              <th scope="col">Image</th>
                              <th scope="col">Measure</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <!-- <th scope="col">Action</th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="table-active"  *ngFor="let item of cart;let i = index">
                              <td>
                                 {{i+1}}
                              </td>
                              <td>
                                {{item.name}}
                              </td>
                              <td>
                                  {{item.brand}}
                              </td>
                              <td>
                                  <img src="{{item.image}}" style="height: auto;width: 9rem;">
                              </td>
                              <td>
                                {{item.measure}}
                              </td>
                              <td>
                                {{item.product_quantity}}
                              </td>
                              <td>
                                ₹ {{item.price}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>