<div id="intro" style="height: 689px;text-align: center;background: linear-gradient(to right, #ed213a, #93291e);">
  <div>
    <img src="assets/img/shopping-cart.svg" alt="logo" style="width: 20%;margin-top:170px;"
      class="animated slow zoomIn">
    <p style="color: white;margin-left: 4%;font-size: xx-large;font-weight: bold;" class="animated slow zoomIn">Super
      Daily Needs</p>
    <p style="color: white;margin-left: 4%;font-size: large;font-weight: bold;" class="animated slow zoomIn">The Best is
      fresh...</p>
  </div>
</div>
<div class="bg-default" class="animated  fadeIn " id="login" style="display:none;">
  <div class="header  py-lg-5" style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" id="Successtoast" class="animatd fadeIn alert alert-success alert-dismissible fade show" role="alert">
      <span class="alert-icon"><i class="ni ni-single-02"></i></span>
      <span class="alert-text"><strong>Login Successfully!</strong></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <div class="header-body text-center">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <img src="assets/img/shopping-cart.svg" alt="logo" style="width: 18%;">
            <h1 class="text-white">Welcome to Super Daily Needs</h1>
            <p class="text-lead text-white" style="margin-bottom: unset;"><b>The Best is fresh...</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="row justify-content-center" style="padding-bottom: 47px;margin: unset;">
      <div class="col-lg-5 col-md-7">
        <div class="card shadow border-0" >
          <div class="card-body px-lg-5 py-lg-5">
            <form role="form">
              <i class="fa fa-lock" aria-hidden="true" style="font-size: xx-large;float:right;"></i>
              <h3 style="text-align: left;color: #93291e;">Log in to our website</h3>
              <p style="text-align: left;color: #93291e;font-size: 15px;">Enter Username & Password to log on :</p>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="email_id" name="email" id="email" placeholder="Email"
                    type="email" autofocus>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="password" name="password" id="password"
                    placeholder="Password" type="password" (keyup.enter)="signin($event)">
                </div>
              </div>

              <div class="text-center">
                <button type="button" (click)="signin($event)" class="btn btn-success blg btn-block"
                  style="font-size: 20px;padding: 5px;" >Sign in!</button><br>
              </div>
              <div class="row">
                <div class="col-6">
                  <a [routerLink]="['/forgotpass']" style="font-size: 15px;color: gray;">Forgot my
                    password</a>
                </div>
                <div class="col-6 text-right">
                  <a [routerLink]="['/creataccount']" style="font-size: 15px;color: gray;">Create new account</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="snackbar">Invalid Credential</div>


