<div class="row" *ngIf="total_item == 0">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="container">
      <img src="./assets/img/supermarket.svg" alt="supermarket">
      <div style="font-size: large;">Your Cart is Empty.</div>
      <div>Explore our ever growing selection product</div>
      <a [routerLink]="['/home']"><button type="button" class="btn btn-danger">Start Shopping</button></a>
    </div>
  </div>
</div>

<!-- <div class="container-fluid" style="background-color: white; height: 640px;" *ngIf="total_item == 0">
  <img src="./assets/img/supermarket.svg" alt="supermarket"
    style="height: 20%;width: 20%;margin-top: 15%;margin-left: 35%;">
  <h3 style="margin-left: 40%;">Your cart is empty</h3>
  <p style="margin-left: 33%;">Explore our ever growing selection product</p>
  <a [routerLink]="['/home']"><button type="button" class="btn btn-danger"
      style="border-radius: 4px;padding:8px;margin-left: 40%;"><span style="font-size: 12px;">START
        SHOPPING</span></button></a>
</div> -->
<div class="container-fluid" *ngIf="total_item !== 0">
  <!-- <div class="row" style="background-color: white;">
        <div class="col-1 text-center">
            <i class="fas fa-map-marker-alt" style="padding-top: 12px;"></i>
        </div>
        <div class="col-11 text-left">
            <h2 style="padding-top: 10px;margin-top: 80px;"><i class="fas fa-map-marker-alt"></i> {{address.Line_1}} , {{address.City}} - {{address.Pincode}}</h2>
        </div>
    </div> -->
  <div class="row">
    <div class="col-3 text-center" style="margin-top: 80px;">
      <h2 style="padding-top: 10px;">Your Shopping Cart</h2>
    </div>
    <div class="col-9 text-right" style="margin-top: 80px;">
      <h4 style="padding-top: 10px;">{{total_item}} Items</h4>
    </div>
  </div>
  <div style="background-color: white;">
    <div class="row" *ngFor="let item of cart">
      <div class="col-lg-4">
        <img src="{{item.image}}" alt="item" height="190" width="200">
      </div>
      <div class="col-4">
        <h1 style="color: gray;">{{item.brand}}</h1>
        <h3><b>{{item.name}}</b></h3>
        <h3>{{item.measure}}</h3>
        <br>
        <h1><b>MRP: Rs.{{item.price}}</b></h1>
      </div>
      <div class="col-4">
        <div class="row" style="margin-top: 110px;">
          <button type="button" class="btn btn-outline-danger" style="border-radius: 4px;"
            (click)="remove(item.unique_id)">
            <i class="fas fa-minus"></i></button>
          <h3 style="color: red;margin-top: 8px;">{{item.product_quantity}}</h3>
          <button type="button" class="btn btn-outline-danger" style="margin-left:8px;border-radius: 4px;"
            (click)="add(item.unique_id)">
            <i class="fas fa-plus"></i></button>
        </div>
      </div>
      <div class="col-lg-12">
        <hr style="margin-bottom: 15px;margin-top: 15px;">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-outline-success" data-toggle="modal"
          data-target="#deleteproductModal">Remove All Product</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-outline-success" style="float: right;" [routerLink]="['/home']">Continue To
          Shopping</button>
      </div>
    </div><br>
    <footer class="row" style="background-color: rgb(7, 26, 26);">
      <div class="col pt-3">
        <h2 style="color: white;">Total: Rs.{{total}}</h2>
      </div>
      <div class="col pt-2 pb-2 text-right">
        <button type="button" class="btn btn-danger" style="border-radius: 4px;padding:8px;"
          (click)="checkout(this.unFique_id)">
          <span style="font-size: 15px;">PROCEED TO CHECKOUT</span></button>
      </div>
    </footer>
  </div>
</div>
<div class="modal fade" id="deleteproductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete All Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Are you sure to delete all Product ?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAll()">Delete</button>
      </div>
    </div>
  </div>
</div>