#container{
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    margin: 15% 0%; 


    img{
        height: 18%;
        width: 18%;
    }

    button{
        border-radius: 4px;font-size: 12px;text-transform: uppercase;margin: 3% 0%;
    }
}