<!-- <app-layout-header></app-layout-header> -->
<nav *ngIf="isLoginIn " class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white"
  style="margin-bottom: unset;" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
      aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand Name in navigation-->
    <div *ngIf="role === 'user'">
      <a class="navbar-brand pt-0" href="/" style="padding-bottom: unset;">
        <h2 style="color: #93291e;">Super Daily Needs</h2>
        <img src="assets/img/shopping-cart.svg" alt="logo" class="animated zoomIn"><br>
        <h2>Hello,{{name}}</h2>
        <div *ngIf="address.Line_1 == '' ;else elseBlock">
          <a [routerLink]="['/profile
          ']">
            <h4><i class="fas fa-plus"></i> Add Address</h4>
          </a>
        </div>
        <ng-template #elseBlock>
          <h2><i class="fas fa-map-marker-alt"></i> {{address.Line_1}}<br>{{address.City}}</h2>
        </ng-template>
      </a>
    </div>

    <div *ngIf="role === 'admin'">
      <a class="navbar-brand pt-0" href="/" style="padding-bottom: unset;">
        <h2 style="color: #93291e;">Super Daily Needs</h2><br>
        <h2>*Admin Panel*</h2>
        <img src="assets/img/shopping-cart.svg" alt="logo" class="animated zoomIn"><br>
        <h2>Hello,{{name}}</h2>
      </a>
    </div>

    <!-- User click -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">

        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" role="button" [routerLink]="['/profile']" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img [attr.src]="profileImage">
              <!-- src="./assets/img/user_icon.png" -->
            </span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <h4 class="ml-2">{{name}}</h4>
          <h4 class="ml-2">{{email}}</h4>
          <a href="./examples/profile.html" class="dropdown-item" [routerLink]="['/profile']">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item">
            <i class="ni ni-button-power"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <div class="col-12 collapse-close">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
          aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
          <span></span>
          <span></span>
        </button>
      </div>
      <!-- Navigation Bar list start -->
      <ul class="navbar-nav">

        <div *ngIf="role === 'user'">
          <li class="nav-item  class=" active>
            <a class=" nav-link" [routerLink]="['/home']">
              <i class="fa fa-home" aria-hidden="true"></i><span style="color:#93291e;">Home</span>
            </a>
          </li>
        </div>
        <div *ngIf="role === 'user'">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/profile']">
              <i class="ni ni-circle-08" aria-hidden="true"></i><span style="color:#93291e;">Users</span>
            </a>
          </li>
        </div>

        <!-- <li class="nav-item" *ngIf="role === 'user'">
            <a class="nav-link " [routerLink]="['/offers']">
              <i class="fa fa-percent"  aria-hidden="true"></i><span style="color:#93291e;">Offers</span>
            </a>
          </li>  -->

        <div *ngIf="role === 'admin'">
          <li class="nav-item  class=" active>
            <a class="nav-link" [routerLink]="['/admin']">
              <i class="fa fa-home" aria-hidden="true"></i><span style="color:#93291e;">Product List</span>
            </a>
          </li>
        </div>
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link " [routerLink]="['/users']">
            <i class="fa fa-percent" aria-hidden="true"></i><span style="color:#93291e;">Users</span>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link " [routerLink]="['/deliveredorder']">
            <i class="fas fa-shipping-fast"></i><span style="color:#93291e;">Delivered Orders</span>
          </a>
        </li> -->
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link " [routerLink]="['/orders']">
            <i class="fas fa-shopping-basket"></i><span style="color:#93291e;">Orders</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'user'">
          <a class="nav-link " [routerLink]="['/myorders']">
            <i class="fas fa-shopping-basket"></i><span style="color:#93291e;">My Orders</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'user'">
          <a class="nav-link " [routerLink]="['/checkout']">
            <i class="ni ni-archive-2"></i><span style="color:#93291e;">Checkout</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/customersupport']">
            <i class="fas fa-headset" *ngIf="role === 'user'"></i><span style="color:#93291e;" *ngIf="role === 'user'">
              Customer Support</span>
            <i class="fas fa-headset" *ngIf="role === 'admin'"></i><span style="color:#93291e;"
              *ngIf="role === 'admin'"> Contact Requests</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logout()">
            <i class="ni ni-button-power"></i>
            <span style="color:#93291e;">Logout</span>
          </a>
        </li>
      </ul>
      <!-- Navigation Bar list end -->
    </div>
  </div>
</nav>
<div class="main-content">
  <!--Top Menu start-->
  <nav *ngIf="isLoginIn" class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main"
    style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="container-fluid">
      <!-- Form -->
      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <!-- <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="search" >
          </div> -->
        </div>
      </form>
      <a [routerLink]="['/cart']">
        <i class="fa fa-shopping-cart" style="font-size: xx-large;color:white;" aria-hidden="true"></i>
      </a>
      <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" [routerLink]="['/profile']" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img [attr.src]="profileImage">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold"></span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h4 class="text-overflow m-0">Welcome!</h4>
            </div>
            <h4 class="ml-3">{{name}}</h4>
            <h4 class="ml-3">{{email}}</h4>
            <a href="./examples/profile.html" class="dropdown-item" [routerLink]="['/profile']">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item">
              <i class="ni ni-button-power"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>