<div style="background: linear-gradient(to right, #ed213a, #93291e);">
  <div class="container-fluid">
      <div class="header-body">
          <div class="row align-items-center">
              <div class="col-8">
                  <a class="mb-0" [routerLink]="['/foodgrain']" class="previous"
                      style="padding-left:10px;color:white;font-size: xx-large;">Welcome admin</a>
              </div>
              <div class="col-4">
                  <h2 style="color: white;text-align: center;margin-right: 10%;" (click)="logout()">Logout</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Product List</h3>
                </div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addproductModal" >Add Product</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush-center">
                <thead class="thead thead-light">
                    <tr>
                        <th scope="col">Sr.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active" *ngFor="let item of item; let i=index">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            <img src="./assets/img/london-eye.svg" height="22px;" width="22px;" (click)="viewProduct(item)">
                            <img src="./assets/img/pencil.svg" height="22px;"
                                width="22px;" style="margin-left:15px;" (click)="edit(item.unique_id)"
                                data-toggle="modal" data-target="#editproductModal" >
                            <img src="./assets/img/delete.svg" height="22px;" width="22px;" data-toggle="modal"
                                data-target="#deleteproductModal" style="margin-left:15px;" (click)="deleteproduct(item.unique_id)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Add Product Modal -->
<div class="modal fade" id="addproductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
                    <h5>Product Name</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" id="product_name" [(ngModel)]="product_name" name="product_name" placeholder="Name">
                      </div>
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="addproduct()" data-dismiss="modal" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <!-- View Product Category Modal -->
  <div class="modal fade" id="viewproductcategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Product Category List</h3>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-sm btn-primary" (click)="add_cate(item.unique_id)">Add Product Category</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush-center">
                    <thead class="thead thead-light">
                        <tr>
                            <th scope="col">Sr.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <td>
                                1
                            </td>
                            <td>
                                Dairy Product
                            </td>
                            <td>
                                <img src="./assets/img/london-eye.svg" height="22px;" data-toggle="modal"
                                    data-target="#viewproductcategoryModal" width="22px;  "
                                    (click)="blog_data(item.unique_id)">
                                <img src="./assets/img/pencil.svg" height="22px;"
                                    width="22px;" style="margin-left:15px;"
                                    data-toggle="modal" data-target="#editproductModal" >
                                <img src="./assets/img/delete.svg" height="22px;" width="22px;" data-toggle="modal"
                                    data-target="#deleteproductModal" style="margin-left:15px;"
                                    (click)="deleteinfo(item.unique_id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- Edit Product Modal -->
<div class="modal fade" id="editproductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Product </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                  <div class="col-md-12">
                    <h5>Product Name</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" id="product_name" [(ngModel)]="product_name" name="product_name" placeholder="Name">
                      </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="update(uid)" data-dismiss="modal" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Product Modal -->
<div class="modal fade" id="deleteproductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h1>Are you sure to delete this Product ?</h1>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="delete(this.unique_id)">Delete</button>
          </div>
        </div>
      </div>
</div>
