<div style="background: linear-gradient(to right, #ed213a, #93291e); height: 689px;">
  <div class="container-fluid">

    
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-2">
          <img src="assets/img/shopping-cart.svg" style="width: 10%;padding: unset;margin-top: 80px;" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <h1 style="color: white;">Super Daily Needs</h1>
          <h4 style="color: white;">The Best is fresh...</h4>
        </div>
      </div>
    <div *ngIf="role === 'user'">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card" style="height: 80%;width: 38%;float: right;">
            <div class="card-body text-center">
              <i class="fa fa-phone fa-flip-horizontal" aria-hidden="true" style="font-size: x-large;"></i>
              <h3 style="margin: unset;">Call us</h3>
              <h4>+91 9421567423</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card" style="height: 80%;width: 38%;">
            <div class="card-body text-center">
              <i class="fa fa-envelope" aria-hidden="true" style="font-size: x-large;"></i>
              <h3 style="margin: unset;">Mail us</h3>
              <h4>Support@superdaily.in</h4>
            </div> 
          </div>
        </div>
      </div>
      <div class="card" style="height: 20%;width: 40%;margin-left:30%;">
        <div class="card-body">
          <h2 style="margin-top: 5px;">Write us directly</h2>
          <textarea class="form-control" rows="2" id="message" name="message" [(ngModel)]="message"
            placeholder="Write your Message"
            style="resize: none;background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"></textarea>
        </div>
      </div>
      <div class="text-center mt-3">
        <button type="button" class="btn btn-block" (click)="contact_us()"
          style="width: 40%;margin-left: 30%;background-color: rgb(100, 243, 81);">Submit</button>
      </div>
    </div>
 

    <div *ngIf="role === 'admin'">
      <div class="container mt-5">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Contact Request</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush-center">
              <thead class="thead thead-light">
                <tr>
                  <th scope="col">Sr.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Message</th>
                  <th scope="col">Status Of Request</th>                                                                                    
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active" *ngFor="let item of item; let i=index">
                  <td>
                    {{i+1}}
                  </td>                                                                             
                  <td>
                    {{item.firstName}}
                  </td>
                  <td>
                    {{item.message}}
                  </td>
                  <td>
                    {{item.status }}
                  </td>
                  <td>
                    <img src="./assets/img/london-eye.svg" height="22px;" width="22px;" (click)="status(item.unique_id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>