<div style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="container-fluid">
      <div class="header-body">
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="productadd" class="animatd fadeIn alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>item added in cart.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="productalready" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>this product already in cart.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row align-items-center">
          <div class="col-1">
            <a class="mb-0" [routerLink]="['/morningneeds']" class="previous"
              style="padding-left:10px;color:white;font-size: xx-large;">&#8249;</a>
          </div>
          <div class="col-11">
            <h2 style="color: white;text-align: center;margin-right: 10%;">Dairy Product</h2>
          </div> 
        </div>
      </div>
    </div>  
</div>

<div class="header bg-primary pb-6" *ngIf="total_item !== 0" style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-12 col-12 text-white">
           Items List
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid mt--6">
    <div class="row mt--5">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto" *ngFor="let item of items">
              <div class="card card-profile">
                <div class="row justify-content-center">
                  <div>
                    <div>
                      <a href="#">
                        <img src="{{item.image}}" style="margin: 10% 0%;height: 8rem;width: 11rem;">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <div class="text-center" style="height: 3.9rem;">
                    <h5 class="h3">
                      {{item.name}}<span class="font-weight-light">, {{item.measure}}</span>
                    </h5>
                    <div class="h4 font-weight-300">
                      <i class="ni location_pin mr-2"></i>{{item.brand}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                          <span class="heading">₹ {{item.price}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-icon btn-danger" (click)="addtocart(item.unique_id,item.image,item.name,item.price,item.measure,item.brand)" type="button" style="width: 100%;">
                    <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                    <span class="btn-inner--text">Add to Cart</span>
                </button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="container-fluid mt-2" style="background-color: white;">
    <div class="row" *ngFor="let item of items">
        <div class="col-lg-4">
            <img src="{{item.image}}" alt="product" height="190" width="200">
        </div>
        <div class="col-4">
            <h1 style="color: gray;">{{item.brand}}</h1>
            <h3><b>{{item.name}}</b></h3>
            <h3>{{item.measure}}</h3>
            <br>
            <h1><b>Rs. {{item.price}}</b></h1>
        </div> 
        <div class="col-4" >
            <a (click)="addtocart(item.unique_id,item.image,item.name,item.price,item.measure,item.brand)" class="btn btn-sm btn-danger" style="margin-top:130px;height: 20%;width: 100%;border-radius: unset;">
                <i class="fa fa-shopping-cart" style="font-size:larger;color:white;" aria-hidden="true"></i>
                <span style="font-size: 15px;">ADD TO CART</span>
            </a>
           </div>
           <hr style="margin-bottom: 15px;margin-top: 15px;">
    </div>
</div>  