<div class="container-fluid" style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col-2">
                <a class="mb-0" [routerLink]="['/home']" class="previous"
                    style="padding-left:10px;color:white;font-size: xx-large;">&#8249;</a>
            </div>
            <div class="col-8">
                <h2 style="color: white;text-align: center; ">Profile</h2>
            </div>
            <div class="col-2">
                <h2 style="color: white;text-align: center;margin-left: 80px;" [routerLink]="['/login']">Logout</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background: white;height:590px; margin-top: 40px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-2">
            <span class="avatar avatar-lg rounded-circle">
                <img [attr.src]="profileImage" data-toggle="modal" data-target="#editimageModal">
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="font-size: 17px;color: black;">{{name}} {{lname}}
        <img  alt="edit user" height="40" width="40" src="./assets/img/edit.svg" data-toggle="modal" data-target="#editModal" ></div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="font-size: 17px;color: black;">{{email}}</div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="font-size: 17px;color: black;">{{mobile}}</div>
    </div>
    <hr>  
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Edit Profile</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body --> 
        
          <!-- <span class="avatar avatar-lg rounded-circle" style="margin-left: 45%;">
            <img alt="Image placeholder" [attr.src]="profileImage">
          </span>
          <input type="file" accept=".jpg,.png" (change)="editimage($event)" autocomplete="off"> -->
          <!-- <button type="file" class="btn btn-outline-secondary">
	        <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
          </button> -->
          <span class="avatar avatar-lg rounded-circle" style="margin-left: 45%;">
            <img [attr.src]="profileImage">
          </span>
          <input type="file" accept=".jpg,.png" (change)="editimage($event)" autocomplete="off" style="margin-left: 20%;">
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <tbody>
                <tr>
                  <th scope="row">
                    <h4>first Name</h4>
                  </th>
                  <td>
                    <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="name">
                  </td>
                </tr>
                <tr>
                    <th scope="row">
                      <h4>Last Name</h4>
                    </th>
                    <td>
                        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lname">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <h4>Mobile</h4>
                    </th>
                    <td>
                        <input type="tel" class="form-control" placeholder="Mobile Number" [(ngModel)]="mobile">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <h4>Email</h4>
                    </th>
                    <td>
                        <input class="form-control" type="email"  id="email-input" placeholder="Email" [(ngModel)]="email">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <h4>BirthDate</h4>
                    </th>
                    <td>
                        <input class="form-control" type="date"  id="email-input" placeholder="birthdate" [(ngModel)]="bdate">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <h4>Address</h4>
                    </th>
                    <td>
                      <input type="text" class="form-control" placeholder="Line 1" name="line1" id="line1" [(ngModel)]="line1">
                      <input style="margin-top: 10px;" type="text" class="form-control" placeholder="Line 2" name="line2" id="line2" [(ngModel)]="line2">
                      <input style="margin-top: 10px;" type="number" class="form-control" placeholder="Pincode" name="pincode" id="pincode" [(ngModel)]="pincode">
                      <input style="margin-top: 10px;" type="text" class="form-control" placeholder="City" name="city" id="city" [(ngModel)]="city">
                  
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="save()" data-dismiss="modal">Save</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- <div class="modal fade" id="editimageModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h2 class="modal-title">Edit Profile Image</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> 
        
        
          <span class="avatar avatar-lg rounded-circle" style="margin-left: 45%;">
            <img alt="Image placeholder" [attr.src]="profileImage">
          </span>
          <input type="file" accept=".jpg,.png" (change)="editimage($event)" autocomplete="off" style="margin-left: 20%;">
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="save()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div> -->
  