<div class="bg-default" >
    <div class="header py-1 py-lg-5" style="background: linear-gradient(to right, #ed213a, #93291e);">
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="resetpass" class="animatd fadeIn alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>Password reset link sent your email</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="wrongemail" class="animatd fadeIn alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>Please fill  your valid email</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="header-body text-center ">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="assets/img/shopping-cart.svg" alt="logo" style="width: 18%;">
                        <h1 class="text-white">Welcome to Super Daily Needs</h1>
                        <p class="text-lead text-white"><b>The Best is fresh...</b></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Page content -->
    <div  style="background: linear-gradient(to right, #ed213a, #93291e);">
        <div class="row justify-content-center" style="padding-bottom: 93px;margin: unset;">
            <div class="col-lg-5 col-md-7">
                <div class="card shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5" style="padding-bottom:unset;">
                        <form role="form">
                            <i class="fa fa-lock" aria-hidden="true" style="font-size: xx-large;float:right;"></i>
                            <h3 style="text-align: left;color: #93291e;">Are you forgoted your password ?</h3>
                            <p style="text-align: left;color: #93291e;font-size: 15px;">Enter EmailId to get password :</p>
                        
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83" aria-hidden="true"></i></span>
                                    </div>
                                    <input class="form-control" [(ngModel)]="email" name="email"
                                        id="email" placeholder="EmailId" type="email">
                                </div>
                            </div>
                        
                            <div class="text-center">
                                <button type="button" (click)="forgotpass()" class="btn btn-success btn-lg btn-block"
                                    style="font-size: 20px;padding: 5px;">Submit</button><br>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <a [routerLink]="['/login']" style="font-size: 15px;color: gray;">Sign In</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a [routerLink]="['/creataccount']" style="font-size: 15px;color: gray;">Create New Account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>