<!-- 
<div class="container-fluid text-center">
  <marquee  behavior="scroll" direction="left" truespeed="40"><h1 style="margin: unset;margin-top: 80px">We always provide you quality products</h1></marquee>
</div> -->

 
<div class="header bg-primary pb-1" *ngIf="total_item !== 0" style="background: linear-gradient(to right, #ed213a, #93291e);">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center ">
        <div class="col-lg-12 col-12 text-white">
          <marquee  behavior="scroll" direction="left" truespeed="40"><h1 class="text-white" style="margin: unset;margin-top: 80px">We always provide you quality products</h1></marquee>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

          <ul class="carousel-indicators" style="margin: 0% 8%;width: 900px;">
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="4"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="5"></li>
          </ul>
            
          <div class="carousel-inner mt-2" style="height: 300px;width: 800px;margin: 0% 13%;" *ngIf="section == 'Morning Needs'">
            <div class="carousel-item active" >
              <img class="d-block w-100" src="./assets/img/sldr-kissan-brand.jpg" style="height: 300px;width: 300px;" alt="kissan">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/sldr-musali-advertise.png" style="height: 300px;width: 300px;" alt="musali">
            </div>
            <div class="carousel-item" >
              <img class="d-block w-100" src="./assets/img/sldr-biscits-advertise.jpg" style="height: 300px;width: 300px;" alt="biscits">
            </div>
            <div class="carousel-item" >
              <img class="d-block w-100" src="./assets/img/sldr-buttermilk-advertise.jpg" style="height: 300px;width: 300px;" alt="butter milk">
            </div>
            <div class="carousel-item" >
              <img class="d-block w-100" src="./assets/img/sldr-coffee-advertise.jpg" style="height: 300px;width: 300px;" alt="coffee">
            </div>
            <div class="carousel-item" >
              <img class="d-block w-100" src="./assets/img/sldr-bournvita-brand.jpg" style="height: 300px;width: 300px;" alt="bournvita">
            </div>
          </div>
        
          <div class="carousel-inner mt-2" style="height: 300px;width: 800px;margin: 0% 13%;" *ngIf="section == 'Vegitable & Fruit'">
            
            <div class="carousel-item active" [routerLink]="['/fruit']">
              <img class="d-block w-100" src="./assets/img/sldr-healthy-fruit.jpg"  alt="fruits" style="height: 300px;width: 100%;">
            </div>
            <div class="carousel-item" [routerLink]="['/vegitable']">
              <img class="d-block w-100" src="./assets/img/sldr-vegiie.jpg"  alt="leafy-veg" style="height: 300px;width: 100%;">
              <!-- <div class="top-left" style="color:white;font-style: italic;font-weight: bolder;margin-top: 100px;">Vegetables are important sources of many nutrients and vitamins.</div> -->
            </div>
            <div class="carousel-item" [routerLink]="['/juicy']">
              <img class="d-block w-100" src="./assets/img/sldr-orange.jpg"  alt="orangefruit" style="height: 300px;width: 100%;">
            </div>
            <div class="carousel-item" [routerLink]="['/dryfruits']">
              <img class="d-block w-100" src="./assets/img/sldr-dry-fruits.jpg"  alt="dtyfruits" style="height: 300px;width: 100%;">
            </div>
            <div class="carousel-item" [routerLink]="['/sprout']">
              <img class="d-block w-100" src="./assets/img/sldr-boost-immune.jpg"  alt="immunity" style="height: 300px;width: 100%;">
            </div>
            <div class="carousel-item" [routerLink]="['/fruits']">
              <img class="d-block w-100" src="./assets/img/sldr-fruits.jpg"  alt="fruitss" style="height: 300px;width: 100%;">
              <!-- <div class="top-left"><b>Fresh Fruits</b><br>for your breakfast</div> -->
            </div>
          </div> 
        
          <div class="carousel-inner mt-2" style="height: 300px;width: 800px;margin: 0% 13%;" *ngIf="section == 'Non-Veg'">
            <div class="carousel-item active" [routerLink]="['/mutton']">
              <img class="d-block w-100" src="./assets/img/sldr-meat.png"  alt="meat" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item" [routerLink]="['/poultry']">
              <img class="d-block w-100" src="./assets/img/sldr-chicken.jpg"  alt="Chicken" style="height: 300px;width: 300px;">
              <div class="top-left" style="color:white;font-style: italic;font-weight: bolder;">A healthy food for a wealthy mood.</div>
            </div>
            <div class="carousel-item" [routerLink]="['/egg']">
              
              <img class="d-block w-100" src="./assets/img/sldr-egg.jpg"  alt="egg" style="height: 300px;width: 300px;">
              <div class="top-left" style="color:black;font-style: italic;font-weight: bolder;text-shadow: 2px 2px 4px #a02323;">An egg a day ,<br>keep the doctor away.</div>
            </div>
            <div class="carousel-item" [routerLink]="['/mutton']">
              <img class="d-block w-100" src="./assets/img/sldr-fresh.jpg"  alt="fresh meat" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item" [routerLink]="['/fish']">
              <img class="d-block w-100" src="./assets/img/sldr-fish.jpg"  alt="fish" style="height: 300px;width: 300px;">
              <div class="top-left"><b>Fresh Seefood from Sea</b><br>Delicious swimming into the mouth</div>
            </div>
          </div>
        
          <div class="carousel-inner mt-2" style="height: 300px;width: 800px;margin: 0% 13%;" *ngIf="section == 'Foodgrain'">
            <div class="carousel-item active" [routerLink]="['/ata']">
              <img class="d-block w-100" src="./assets/img/sldr_ata_s.jpg" style="height: 300px;width: 300px;" alt="ata">
            </div>
            <div class="carousel-item" [routerLink]="['/oil']">
              <img class="d-block w-100" src="./assets/img/sldr_safola.jpg" style="height: 300px;width: 300px;" alt="oil">
            </div>
            <div class="carousel-item" [routerLink]="['/masala']">
              <img class="d-block w-100" src="./assets/img/sldr_everest.jpg" style="height: 300px;width: 300px;" alt="masala">
            </div>
            <div class="carousel-item" [routerLink]="['/salt']">
              <img class="d-block w-100" src="./assets/img/sldr_salt_tata.jpg" style="height: 300px;width: 300px;" alt="salt">
            </div>
            <div class="carousel-item" [routerLink]="['/rice']">
              <img class="d-block w-100" src="./assets/img/sldr_davat.png" style="height: 300px;width: 300px;" alt="rice">
            </div>
            <div class="carousel-item" [routerLink]="['/salt']">
              <img class="d-block w-100" src="./assets/img/sldr_sugar_m.jpg" style="height: 300px;width: 300px;" alt="sugar">
            </div>
          </div> 

          <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" style="left: 10%;" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleSlidesOnly" style="left: 100%;" id="nextBtn" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt--6">
  <div class="row mt--5">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="row">
        <div class="col-md-4" *ngFor="let product of item">
            <div class="card card-profile" style="margin: 10% 0%;" (click)="viewProduct(product.unique_id)">
              <div class="row justify-content-center">
                <div>
                  <div>
                    <a href="#">
                      <img src="{{product.image}}" style="margin: 10% 0%;height: 8rem;width: 11rem;">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="text-center" style="height: 3.9rem;">
                  <h5 class="h3">
                    {{product.name}}
                  </h5>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div >
  <div class="card" style="background-color:rgb(247, 245, 245); border-radius: 4px;">
   <div class="card-body text-center">
    <div class="card" style="border-radius: 4px;height: 40px;width: 40%;margin-left: 30%;padding-bottom: 12px;">
        <p class="card-text" style="font-size: 20px;font-weight: bold;">Shop By Category</p>
    </div>
    <div class="card-columns mt-3">
      <div class="card bg-light" class="card_category" *ngFor="let product of item">
        <div class="card-body text-center" style="padding:10px;">
          <div style="border: solid rgb(241, 204, 125) 2px ;">
          <img src="{{product.image}}" alt="product" height="170" width="200" style="margin-top:8px;" (click)="viewProduct(product.unique_id)">
          <hr style="margin-bottom: 10px;margin-top: 10px;">
          <p class="card-text" style="color: black;"><b>{{product.name}}</b></p>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <h2 style="text-align:center;color:#a02323;font-style: italic;font-weight: bolder;text-shadow: 2px 2px 4px rgb(71, 67, 67);">Thank You!!</h2>
</div> 