<!-- Navigation Bar list start -->

<!-- Navigation Bar end -->
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>

<!--Top Menu end-->
<!-- Header -->
<div class="header pb-6 pt-3 pt-md-7" style="background: linear-gradient(to right, #ed213a, #93291e);">
  <div class="container-fluid">
    <div class="header-body">
      <marquee behavior="scroll" direction="left" truespeed="40">
        <h1
          style="color: white;text-align: center;font-style: italic;font-weight: bolder;text-shadow: 2px 2px 4px #ece4e4;">
          Super Daily Needs Products</h1>
      </marquee>
    </div>
  </div>
</div>
<div class="container-fluid mt--7" style="background: linear-gradient(to right, #ed213a, #93291e);padding-bottom: 10%;">
  <!--Advertising slider 1-->
  <div class="row mt-5">
    <div class="col-xl-6 mb-5 mb-xl-0" style="margin: 3% 0%;" *ngFor="let item of productC">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center"> 
            <div class="col">
              <h3 class="mb-0" style="color:#ed213a;">{{item.name}}</h3>
            </div>
            <div class="col text-right"> 
              <div (click)="viewProduct(item.unique_id,item.name)" class="btn btn-sm btn-success">See all</div>
            </div>
          </div>
        </div>
        <div id="carouselExampleIndicators" *ngIf="item.name === 'Vegitable & Fruit'" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/advrt_fruit1.jpg" alt="First slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_fruit2.jpg" alt="Second slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_fruit3.jpg" alt="Third slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_vegitable1.jpg" alt="Fourth slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_vegitable2.jpg" alt="Fifth slide" style="height: 300px;width: 300px;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" id="nextBtn1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="carouselExampleIndicators1" *ngIf="item.name === 'Foodgrain'" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="3" class=""></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/sldr-samrat.jpg" alt="First slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/sldr_oil.jpg" alt="Second slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/sldr_rice.jpg" alt="Third slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/sldr_salt.jpg" alt="Fourth slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/sldr_sugar.png" alt="Fifth slide" style="height: 300px;width: 300px;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators1" id="nextBtn2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="carouselExampleIndicators2" *ngIf="item.name === 'Morning Needs'" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="3" class=""></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="4" class=""></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="5" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/advrt_milk.jpg" alt="First slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_juice.jpg" alt="Second slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_maggi.jpg" alt="Third slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_bread.jpg" alt="Fourth slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_spread.jpg" alt="Fifth slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_tea.jpg" alt="Sixth slide" style="height: 300px;width: 300px;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" id="nextBtn3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="carouselExampleIndicators3" *ngIf="item.name === 'Non-Veg'" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="3" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/img/advrt_meat.jpg" alt="First slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_fish.jpg" alt="Second slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_egg.jpg" alt="Third slide" style="height: 300px;width: 300px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/img/advrt_mutton.jpg" alt="Fourth slide" style="height: 300px;width: 300px;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators3" id="nextBtn4" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>