<div style="background: linear-gradient(to right, #ed213a, #93291e);margin-bottom: 30px;">
    <div class="container-fluid">
      <div class="header-body">
        <div style="width: 500px;position: fixed;bottom: 0px;left: 40%;z-index: 2;display: none;" 
        id="Addressadd" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="fas fa-map-marker-alt"></i></span>
            <span class="alert-text"><strong >Please fill address field first to place your order.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="width: 500px;height:200px;position: fixed;bottom: 300px;left: 42%;z-index: 2;display: none;background-color: white;border: 1px solid gray;" 
        id="orderplace" class="animatd fadeIn alert alert-dismissible fade show" role="alert">
        <img src="/assets/img/check.jpg" alt="check" height="80" width="80" style="margin-left: 37%;"><br>
        <h2 style="color: rgb(69, 204, 69);font-style: italic;margin-left: 10%;">Your Order Will Placed Successfully.</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-1">
            <a class="mb-0" [routerLink]="['/cart']" class="previous"
              style="padding-left:10px;color:white;font-size: xx-large;">&#8249;</a>
          </div>
          <div class="col-11">
            <h2 style="color: white;text-align: center;margin-right: 10%;">Checkout</h2>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row" *ngIf="total_item === 0">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="container">
      <img src="./assets/img/supermarket.svg" alt="supermarket">
      <div style="font-size: large;">Your Orders is Empty.</div>
      <div>Explore our ever growing selection product</div>
      <a [routerLink]="['/home']"><button type="button" class="btn btn-danger">Start Shopping</button></a>
    </div>
  </div>
</div>

<div class="header bg-primary pb-6" *ngIf="total_item !== 0" style="background: linear-gradient(to right, #ed213a, #93291e);">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12 col-12">
          <div class="h2 text-white d-inline-block mb-0">Orders</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6" *ngIf="total_item !== 0">
  <div class="row mt--5">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-upgrade">
        <div class="card-header text-center border-bottom-0">
          <h4 class="card-title">Orders List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <tbody>
                <tr>
                  <th>Order Id</th>
                  <th>Date</th>
                  <th>Order Status</th>
                  <th>Total Amount</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let item of orders">
                    <th>{{item.order_id}}</th>
                    <th>{{item.timestamp.toDate() | date :'dd MMM yyyy'}}</th>
                    <th> 
                    <span *ngIf="item.order_status">Delivered</span>   
                    <span *ngIf="!item.order_status">Undelivered</span>   
                    </th>
                    <th>₹ {{item.totalAmt}}</th>
                    <th (click)="getOrderProduct(item.unique_id)">View</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
