<div class="bg-default" >
    <div class="header " style="background: linear-gradient(to right, #ed213a, #93291e);">
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="invalidmobilenum" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>Please enter 10 digit mobile number.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="inavlidemail" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>Please enter valid email.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="width: 500px;position: fixed;bottom: 0px;left: 31%;z-index: 2;display: none;" 
        id="filldetails" class="animatd fadeIn alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-single-02"></i></span>
            <span class="alert-text"><strong>Please fill all details.</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="header-body text-center ">
                <div class="row justify-content-center" style="margin: unset;">
                    <div class="col-lg-5 col-md-6">
                        <img src="assets/img/shopping-cart.svg" alt="logo" style="width: 18%;padding-top: 5px;">
                        <h1 class="text-white">Welcome to Super Daily Needs</h1>
                        <p class="text-lead text-white"><b>The Best is fresh...</b></p>
                    </div>
                </div>
            </div>
    </div>
    <!-- Page content -->
    <div style="background: linear-gradient(to right, #ed213a, #93291e);padding-bottom: 81px;">
        <div class="row justify-content-center" style="margin: unset; margin-right: 40%;"> 
            <div class="col-lg-5 col-md-7">
                <div class="card shadow border-0" style="width: 800px;">
                    <div class="card-body px-lg-5 "  >
                        <form role="form">
                            <i class="fa fa-lock" aria-hidden="true" style="font-size: xx-large;float:right;"></i>
                            <h3 style="text-align: left;color: #93291e;">Create new account now</h3>
                            <p style="text-align: left;color: #93291e;font-size: 15px;">Enter your details to get instant access :</p>
                            <div class="form-group">
                                <!-- <p>Paersonal Details</p> -->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <input class="form-control" [(ngModel)]="firstName" name="fname"
                                                id="fname" placeholder="Enter first name" type="text"required >
                                                <div class="valid-feedback">Valid.</div>
                                                 <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <input class="form-control" [(ngModel)]="lastName" name="lname"
                                                id="lname" placeholder="Enter last name" type="text" required>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                            </div>
                                            <input class="form-control" [(ngModel)]="mobileNumber" name="mobnum"
                                                id="mobnum" placeholder="Mobile Number" type="number" required>
                                        </div>
                                    </div> 
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            </div>
                                            <input class="form-control" [(ngModel)]="DOB" name="bdate" id="bdate"
                                                placeholder="Birth Date" type="date" required >
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" [(ngModel)]="emailId" name="email" id="email" placeholder="Email" type="email" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" [(ngModel)]="password" name="pass"
                                                id="pass" placeholder="Password" type="password"
                                                required minlength="8">
                                                
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="text-center">
                                <button type="button" (click)="createacc()" class="btn btn-success btn-lg btn-block"
                                    style="font-size: 20px;padding: 5px;" >Create Account</button><br>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <a [routerLink]="['/login']" style="font-size: 15px;color: gray;">Sign In</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a [routerLink]="['/forgotpass']" style="font-size: 15px;color: gray;">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="snackbar">User Already Registered</div>


