<div class="header" style="background: linear-gradient(to right, #ed213a, #93291e);">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
            <div class="col-4">
                <a class="mb-0" [routerLink]="['/home']" class="previous" style="padding-left:10px;color:white;font-size: xx-large;">&#8249;</a>
              </div>
              <div class="col-8">
                <h2 style="color: white;text-align: left;">Offers</h2>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div><br>
    